[2019-11-19 07:57] yuxue521 commented on #129
@utzcoz
Thank you, but I don't know how to modify #include <fcntl.h>
I found information like logs
11-19 07:47:00.617   235   235 E Surface : Surface::lock failed, already locked
11-19 07:47:00.618   235   235 E mflinger: failed to lock buffer
11-19 07:48:00.610   235   235 E Surface : Surface::lock failed, already locked
11-19 07:48:00.610   235   235 E mflinger: failed to lock buffer
11-19 07:49

[2019-11-19 08:38] utzcoz commented on #129
@yuxue521 I don't change `fcntl.h`. My patch is to let rockchip gralloc drm set fd to read and write when it transforms primary handle to fd for upper service, SurfaceFlinger, and it needs include `fcntl.h`.

[2019-11-19 10:01] yuxue521 commented on #129
@utzcoz  My rk3288 may not need this patch
# ls /dev/fd -l
ls /dev/fd -l
lrwxrwxrwx. 1 root root 13 Nov 19 09:49 /dev/fd -> /proc/self/fd
#
I suspect that it has a relationship with rockchips' dual screen patch. I need to check it out.

[2019-11-19 16:42] yuxue521 commented on #129
@utzcoz I try to understand what you mean.
Ret = drmPrimeHandleToFD(info->fd, gem_handle, 0,
&handle->prime_fd);
Should be changed
Ret = drmPrimeHandleToFD(info->fd, gem_handle, O_RDWR,
&handle->prime_fd);
Is this what you mean?

[2019-11-20 00:52] yuxue521 commented on #129
I just tested I found this problem
systemctl status maru-mflinger-client
[1;32m鈼?[0m maru-mflinger-client.service - mflinger client for X11
   Loaded: loaded (/lib/systemd/system/maru-mflinger-client.service; enabled)
   Active: [1;32mactive (running)[0m since Fri 2013-01-18 08:50:35 UTC; 6 year
s 10 months ago
 Main PID: 106 (mclient)
   CGroup: /system.slice/maru-mflinger-client.service

[2019-11-20 02:19] yuxue521 commented on #129
@utzcoz
Thank you for your advice, I have successfully run maruos

[2019-11-20 02:49] pdsouza commented on #129
@yuxue521 Nice! Very cool to know Maru runs on a SBC like Tinkerboard!

[2019-11-20 07:11] yuxue521 commented on #129
Thanks for this project, I am going to close this question

[2019-11-20 07:11] #129 closed

[2019-11-20 07:39] yuxue521 opened #130 "sudo: effective uid is not 0, is /usr/bin/sudo on a file system with the 'nosuid"
@pdsouza
I am running on tinkeboard rk3288

Operate via HDMI
Sudo systemctl start ssh
sudo: effective uid is not 0, is /usr/bin/sudo on a file system with the 'nosuid' option set or an NFS file system without root privileges?

I can only connect via adb
rk3288:/ # lxc-attach -n default
lxc-attach -n default
su
root@stretch:/# chmod u+s  /usr/bin/sudo
chmod u+s  /usr/bin/sudo
root@stretch:/# chmod

[2019-11-20 07:55] utzcoz commented on #130
@yuxue521 maruos mounts Linux in `/data` partition, and most of OEM assigns `nosuid` to `/data` partition in its `fstab` file. You should remove `nosuid` in `rk3328`'s `fstab`, and flash your device, the `nosuid` error will disappear ideally.

[2019-11-20 07:57] utzcoz commented on #129
@yuxue521 do you change the permission of `fd` in `gralloc_drm`? I found your delete message contains the mmap permission denied log. If yes, @pdsouza maybe we can add it to our FAQ.

[2019-11-20 08:01] yuxue521 commented on #129
@utzcoz
Yes, I changed it

[2019-11-20 08:11] utzcoz commented on #129
@yuxue521 okay. @pdsouza Maybe we should add this problem to FAQ. If yes, I will create a new issue to do it.

[2019-11-21 01:35] pdsouza commented on #129
@utzcoz Maybe we can add it to the Porting Guide instead of FAQ? FAQ is more high-level user issues. How about here: https://maruos.com/docs/developer/porting.html#known-porting-issues? I'm open to your ideas.

[2019-11-21 05:40] utzcoz opened #131 "doc: Add rockchip black screen possible solution to porting issues"
In [issue Rockchip porting problem](https://github.com/maruos/maruos/issues/129) and [issue mmap failed on rockchip devices](https://github.com/maruos/blueprints/issues/11), we have found rockchip gralloc implementation will disable the write permission for surface fd, and it will cause mmap failed to mflinger client. The final result is the Linux is black. We should add possible solutuion to our

[2019-11-21 05:45] utzcoz commented on #129
@pdsouza Okay, I create a new issue, and will add it to porting issues page.

[2019-11-23 16:55] #131 closed

[2019-11-24 07:09] yuxue521 opened #133 "maruos not sound"
@pdsouza
I found that maru has no sound, can you refer to anbox to solve this problem?

[2019-11-24 07:10] yuxue521 commented on #133
Anbox runs in lxc

[2019-11-24 08:26] utzcoz commented on #133
`vendor_maruos` has a branch called `experimental/audio`, maybe you can check it.

[2019-11-24 11:53] yuxue521 commented on #133
Thank you
I am going to see

[2019-11-24 13:03] utzcoz commented on #128
After searching, many article says the `Required key not available` is because of kernel module signature. But I get below result with command `zcat /proc/config.gz | grep _SIG`:
[code]
The `CONFIG_MODULE_SIG` is disabled on device.

[2019-11-24 14:36] utzcoz commented on #128
After enabling log in `kernel/security/keys`, I got some related log from `dmesg` after `sudo apt-get update`:
[code]

[2019-11-25 09:47] yuxue521 opened #134 "x11 gui in surface app"
How to output maruos ui to the activity app I tried to read using native_activity demo I found no PIXEL_FORMAT_BGRA_8888
Is it impossible to output the x11 interface to the app display?

[2019-11-25 10:02] #133 closed

[2019-11-25 10:08] yuxue521 commented on #134
If the interface can be very cool in an app now, it is very convenient to switch

[2019-11-26 05:30] yuxue521 opened #135 "maruos reboot bug"
marous connect hdmi everything works
When my machine restarts, I do n’t unplug the hdmi and boot again. Maruos has no interface. I need to unplug the hdmi cable and plug it in again to start the desktop. I think this should be a bug. Can you tell me the location of the control code when it starts? I want to fix it.

[2019-11-28 01:26] pdsouza commented on #135
Oh, weird. I keep my Nexus 5 plugged in always and the desktop starts up even if I do a restart on the phone without unplugging the HDMI cable. I wonder why it is not working on your device...

You can find the external display detection code here: https://github.com/maruos/android_platform_frameworks_base/blob/maru-0.6/services/core/java/com/android/server/mperspective/PerspectiveService.java#L42

[2019-11-28 09:23] Elowan commented on #101
hello,

any news/plans to mak 0.6.x work on Nexus 7 (flo) devices? Or did you abandon tablets and go all ouit on the phones now?

AFAIK there is LinageOS 14.1 (Nougat android) and this will work on Nexus 7 (2013) - pair this with Debian 9 and we could have a more up-to-date version of everything 0.4. has to offer.

best regards and all the best with this awesome project!!!
Elo

[2019-11-28 16:02] utzcoz commented on #128
If we want to get above log, we should enable `CONFIG_KEYS_DEBUG_PROC_KEYS` in defconfig.

[2019-11-29 07:06] yuxue521 commented on #135
Thanks for the hint, i have fixed this problem on tinkeboard

I found that tinkeboard is easier to port maruos. This default supports dual screens.

[2019-11-29 07:06] #135 closed

[2019-11-29 07:46] yuxue521 opened #136 "Screen output to surfaceview or NativeActivity"
@pdsouza @utzcoz

After reading the code many times I know that the most critical data transfer is in
`
ANativeWindow_Buffer outBuffer;
        buffer_handle_t handle;
        status_t err = s->lockWithHandle(&outBuffer, &handle, NULL);
.......
    fdptr = (int *) CMSG_DATA(cmsg);
    memcpy(fdptr, &fd, sizeof(int));
`
I try to output to Surfaceview or NativeActivity
I do not know what to do. My u

[2019-11-29 07:46] #134 closed

[2019-11-30 16:08] utzcoz commented on #128
If use `sudo cat /proc/keys` in Linux, it will get the same result with `cat /proc/keys` in Android for root user.

[2019-12-01 15:34] pdsouza commented on #101
@Elowan We can try bringing up flo on LineageOS 14 / Maru 0.5.x branch and checking if we can fit the desktop rootfs in `/system` on Nougat. I thought our N7 maintainer @TMartinPPC tried this at one point but I can't remember if it worked or not. As mentioned previously, the main reason we don't support N7 on 0.6 is due to the limited /system space on Oreo. #99 has been proposed to fix this limita

[2019-12-01 16:06] pdsouza commented on #128
@utzcoz Thanks for continuing to debug this and sharing your logs! It looks like all of these issues stem from `mktemp`/`mkstemp` throwing `ENOKEY`. This is a very strange...I wonder why `/tmp` is having these errors.

Some things to try:
* What happens if you `touch` a file in `/tmp` without using `mktemp`?
* Is there anything strange about the `tmpfs` mount in `fstab`? Are there any kernel optio

[2019-12-01 16:33] TMartinPPC commented on #101
@Elowan: @pdsouza is correct. I think we could cut the system image down enough to make it work. Lots going on in life (moving, new job, etc) but hoping to revisit soon.

[2019-12-01 17:56] Elowan commented on #101
thank you guys for response !
would be great if it could  be done

good luck with all your new endeavors @TMartinPPC

[2019-12-02 10:46] Elowan opened #137 "Suggestion: Make Linux bootable via USB on PC/Mac"
Hello there,

I was trying Ubuntu Touch on my Nexus 7 and I came across an app called "IsoDrive".

Basically, you DL a linux distribution to your "Download" folder. You start the app and choose the downloaded iso file, then you connect via USB to a PC (or Macbook or whatever) and boot up this device.

Now, you can boot up the iso file (linux) on your connected system!

I think this is a neat way,

[2019-12-02 15:00] utzcoz commented on #128
@pdsouza `touch temp` works fine in `/tmp`. `ENOKEY` represents the process doesn't find required key. What I did before is to check whether `Android` and `Linux` can get the same key list. From the result, they can get the same list.

[2019-12-03 02:35] yuxue521 commented on #136
In order to achieve the maruos display to the main screen to solve the problem of screen overlap, I used the most stupid method, adding a layer of black background, I can not set the maruos black background can only use this method
`
static int createSurface(struct mflinger_state *state,
            uint32_t w, uint32_t h) {
 ret |= surface->setLayer(0x7fffffff/*get_layer(state->num_surfaces)*/);

[2019-12-06 01:10] pdsouza commented on #136
@yuxue521 Oh, interesting! It looks like you are using two displays (HDMI and MIPI DSI maybe?) with your Tinker Board?

From your code sample it looks like you have modified mflinger to output the Linux display to DEFAULT_DISPLAY rather than DEFAULT_EXTERNAL_DISPLAY? Then maybe you use screen mirroring to show the display over HDMI as well? What happens if you rotate your display to portrait mode?

[2019-12-06 02:08] yuxue521 commented on #136
@pdsouza
Yes, I used two screens of edp + hdmi. The screen overlap means that the linux interface and the android interface are displayed at the same time (that is, you can see the android screen and the linux screen because the linux screen is transparent)
I removed
ret | = surface-> setLayerStack (state-> layerstack);
Let him show on the home screen

[2019-12-06 02:12] yuxue521 commented on #136
@pdsouza
This result is not what I want, because I cannot dynamically switch to the android screen.
The ideal is to display the linux screen in an app, I can switch between android and linux at any time

[2019-12-06 02:54] yuxue521 commented on #136
@pdsouza Can you give advice to associate the linux screen with the app
I don't know if to manage it

[2019-12-08 03:53] utzcoz commented on #128
I compare the input parameter of `search_nested_keyrings`, and found that when I execute `mktemp` in `Android` shell, the log showed the `search_nested_keyrings` with the input serial of key, but when for `Linux` shell, the log showed the `search_nested_keyrings` with the wrong input serial of key. And the key serail is got from `struct cred`, created by `current_cred()` method.

[2019-12-08 11:08] utzcoz commented on #128
The `ENOKEY` is for the `session_keyring`. And from the kernel document, `session_kerying` is from the parent process, when it forked from parent process. Compare the `search_nested_keyrings` input serial and `cat /proc/keys` result from `Linux` shell, I found that `search_nested_keyrings` input serial is the a session keyring viewed by `cat /proc/keys`. So it looks like `Linux` can't get correct

[2019-12-08 14:58] utzcoz commented on #128
@pdsouza The problem is that all above commands are executed in `Linux` started with `lxc-start --name default` in `adb shell`. I use `busybox pstree` to see the process relationship, and all `Linux` processes are inherited from `adbd`. So all `Linux` process inherited session keyring from `adbd`.  It doesn't work in `Linux` occasion. If we start `Linux` from `perspectived`, all things are correct

[2019-12-08 15:08] utzcoz commented on #117
@pdsouza I see the document contains the command to check `LXC` kernel config, and I think its enough for porting user. So I close the issue.

[2019-12-08 15:08] #117 closed

[2019-12-08 15:32] utzcoz commented on #127
@pdsouza If need, I can create a project to do it in my repository to start to extract `MaruOS` desktop settings to a single app.

[2019-12-08 23:03] pdsouza commented on #128
@utzcoz Wow, very interesting. It is good you have documented your debugging in this issue for other users.

[2019-12-09 00:14] pdsouza commented on #127
@utzcoz Yeah that would be great if you have the time! Thanks!

[2019-12-11 14:44] utzcoz commented on #127
Maru desktop settings depends on `Settings` code, instead of `SettingsLib` only, and current `Settings` doesn't provide a core library for other app, which is done in `master` branch. So I will check whether it's easy to archive the same function without `Settings` dependency.

[2019-12-12 12:45] pintaf commented on #137
Hello.

As maruOS is based on Android, then any typical solution from android would work:
https://play.google.com/store/apps/details?id=com.softwarebakery.drivedroid&hl=en

Don't expect to be able to boot the linux image of maruOS that way because it is compiled for arm devices, and you're probably willing to boot on a X64 computer

[2019-12-14 15:20] utzcoz opened #140 "sailfish/marlin: kernel panic when find files in /data"
If I execute `find . -iname "*maru*"` in marlin, the device will reboot. After rebooting, I use command `adb shell pull /data/system/dropbox` to pull the dropbox files, and get kernel panic information from last kernel log:
[code]
It looks like ext4-fs encrypted inode number is too small.

[2019-12-15 22:10] pdsouza commented on #140
Interesting. This error is thrown here: https://github.com/maruos/android_kernel_google_marlin/blob/maru-0.6/fs/ext4/crypto_fname.c#L331. It looks like this check is referring to the filename itself?

Also, are you running `find` from Android or Linux?

[2019-12-16 04:37] utzcoz commented on #140
From the panic log and code, it looks like Linux rootfs add many files to `/data`. And it maybe use almost of encrypted inode. My occasion is to run `find` in `Android` with `adb shell` in `/data` directory. I agree to invest more code to get more detail of `EXT4_CRYPTO_BLOCK_SIZE`.  From the code, I found `bullhead` uses `16` for `EXT4_CRYPTO_BLOCK_SIZE` too, @pdsouza  can you help me execute the

[2019-12-16 23:36] pdsouza commented on #140
Unfortunately both my Nexus 5Xs have died due to a hardware failure! I don't have an arm64 device to test until I get some new devices...

Can you check if you get a kernel panic without the Linux rootfs on `/data`?

[2019-12-23 21:47] pdsouza opened #141 "Merge in December 2019 security patches"
Just retroactively creating this issue to document all the merges.

Fixed in:
https://github.com/maruos/manifest/commit/3fed060b781a9544bb812db2254034ab00ad4d5b
https://github.com/maruos/manifest/commit/11d9469b29244e05a05fbb78cecdcde312e7ba6d
https://github.com/maruos/android_platform_frameworks_base/commit/fef147d29ee859fb3d547f7aae6cc6c1ed90b141
https://github.com/maruos/android_platform_packag

[2019-12-23 21:47] #141 closed

[2020-01-05 04:46] diego-o-olmedo commented on #124
You can get vs code running on another platform with some extensions but as vs code is a git-scm gui you must need to run a compiled git as well as platform dependend extensions for compiling that would useful in vs code. However intellisense can work seamlessly.
https://headmelted.com/introducing-archie-cbf77a7a64fb
You just need to use archie docker to make a build for your platform as maruOS wa

[2020-01-16 10:21] pintaf commented on #127
Hey ! Did someone started working on this ? I'm willing to continue the work

[2020-01-16 10:22] pintaf commented on #99
Hey ! Did someone started working on this ? I'm willing to continue the work

[2020-01-17 16:44] utzcoz commented on #127
@pintaf I am working for it, and I push code to project [vendor_maruos_packages_apps_MaruSettings](https://github.com/utzcoz/vendor_maruos_packages_apps_MaruSettings). I just fix the build problem of MaruSettings with maruos modification to Settings. So if you have interested, you can checkout the code, and add your work.

[2020-01-27 22:06] pdsouza commented on #99
@pintaf I think @utzcoz was taking a loot at this when he was extracting our desktop settings into a standalone app.

[2020-01-29 20:44] pintaf commented on #127
Thanks for the heads up. I've forked the project, and will contribute when I can

[2020-02-11 08:28] luka177 commented on #38
We can keep Xorg for now we can use xorg with libhybris

[2020-02-11 08:31] luka177 commented on #136
Hmm crazy idea, stop surfaceflinger in android and output to /dev/fb0

[2020-02-11 09:04] luka177 commented on #136
https://unix.stackexchange.com/questions/18003/linux-lxc-deploying-images-with-tiniest-possible-x11

[2020-02-11 09:55] luka177 commented on #136
So it must look like:
1. We somehow stop all android gui releated services.
2. Start container with bind mounted /dev/fb0 or /dev/graphic/fb0 to /dev/fb0
3. Use it.
4. Stop container
5. Start android gui services again

[2020-02-11 10:04] luka177 commented on #136
setprop ctl.stop surfaceflinger will stop android from trying to shw something on screen
/etc/X11/xorg.conf  must look lile
[code]

[2020-02-11 10:05] luka177 commented on #136
Soon will try on real hw

[2020-02-11 10:05] luka177 commented on #136
Butw ig next step is libhybris

[2020-02-11 10:08] luka177 commented on #136
Dynamic screen rotation will be problem

[2020-02-11 10:31] luka177 commented on #136
xrandr -o 0,1,2,3
will dynamicly but not very fast rotate screen tested on my pc

[2020-02-11 10:31] luka177 commented on #136
https://wiki.postmarketos.org/wiki/Display
some docs, rotation touchscreen

[2020-02-11 13:44] luka177 commented on #136
https://wiki.postmarketos.org/wiki/Display
some docs

[2020-02-11 17:38] luka177 commented on #136
Faced some problems
it see
[code]

[2020-02-12 09:23] luka177 commented on #140
If you need can try on arm64 cedric

[2020-02-12 09:24] luka177 commented on #121
idk but nexus 5 have good mainline support ...

[2020-02-12 09:29] luka177 commented on #78
There is a way without display.
1.Get root (go to settings developer mode enable adb and root for adb) idk is it needed
2.run adb root on pc with connected phone
3. run adb shell
4. lxc-start -n default
wait and you are in login shell login enable ssh vnc change password etc etc

[2020-02-12 09:37] luka177 opened #142 "Option to stop android"
It will be greate to stop android, to get free memory and cpu.

[2020-03-03 10:30] bd8392 commented on #119
Is there any chance to see this? Maybe you don't have to develop the kernel yourself...just implement it from another distro if possible =). Franco Kernel or something like that =) I love the approach of your OS!

[2020-03-16 16:19] utzcoz commented on #128
I should correct the parent process of `Linux` process, they are forked from `init` not `perspectived`.

[code]

[2020-03-17 14:52] utzcoz commented on #128
@pdsouza I test this problem again, and I can use `lxc-start --name default`  and open simulate second display  to show the `Linux` to display correctly when using `Debian stretch`, but not for `Debian buster`. So the previous conclusion should be changed.
When I use `lxc-start --name default` to start `Linux` in `adbd`, the `adbd` has the `root` priviledge. So `lxc` processors and its forked proc

[2020-03-17 14:55] utzcoz commented on #128
And there is a similar issue [ required key not available in docker container #128](https://github.com/google/fscrypt/issues/128.

[2020-03-19 03:21] utzcoz commented on #140
If `Linux` works fine, this problem will not appear, so I close it.

[2020-03-19 03:21] #140 closed

[2020-03-20 01:18] utzcoz commented on #128
Okay, the newest result is that:
The `buster` uses the `systemd` `v241`, and `stretch` uses the `systemd` `v232`, what we can get from `debian` package website. From the version `v232` to `v241`, the `systemd` add a patch [core: run each system service with a fresh session keyring](https://github.com/systemd/systemd/commit/74dd6b515fa968c5710b396a7664cac335e25ca8), that calls `keyctl(KEYCTL_JOIN_S

[2020-03-20 01:18] #128 closed

[2020-03-23 13:19] utzcoz commented on #127
@pdsouza @pintaf , I have pushed a work version to my repository [MaruSettings](https://github.com/utzcoz/vendor_maruos_packages_apps_MaruSettings). And I have added a integrate it to `MaruOS` manual to `README.md`, so you can download and test it. After integrating, we can see another `Desktop` entry on `Settings` dashboard homepage bottom. It looks like the same as origin `Desktop` item, and wor

[2020-04-08 09:33] yuxue521 opened #144 "PIXEL_FORMAT_BGRA_8888 to PIXEL_FORMAT_RGBA_8888"
How to modify PIXEL_FORMAT_BGRA_8888 to PIXEL_FORMAT_RGBA_8888
I will output the screen to surfaceview but the color is abnormal

`    sp<SurfaceControl> surface = state->compositor->createSurface(
        name,
        w, h,
        PIXEL_FORMAT_BGRA_8888,
        0);`
I use binder to pass surface to mflinger

surfaceview->getHolder()-->jni-->surface>writeStrongBinder-binder-->mflinger
Surfacevie

[2020-04-08 10:44] utzcoz commented on #144
`mclient` use `xlib` to retrieve `XImage`, and [it creates `XImage` with `ZPixmap` format](https://github.com/maruos/mflinger/blob/master/src/mclient/mclient.c#L153-L160). And then, it uses the method [copy_ximg_rows_to_buffer_mlocked](https://github.com/maruos/mflinger/blob/master/src/mclient/mclient.c#L66-L87) to copy the `XImage` content to buffer will be passed to `mflinger` directly, without

[2020-04-08 12:12] yuxue521 commented on #144
Thanks for your reply i will try

[2020-04-09 08:46] yuxue521 commented on #144
`    for (y = row_start; y < row_end; ++y)
    {
        buf_row = buf->bits + (y * buf_bytes_per_line);
        ximg_row = (void *)ximg->data + (y * ximg->bytes_per_line);

        /*
         * we don't want to copy any extra XImage row padding
         * so we just copy up to image width instead of bytes_per_line
         */
        memcpy(buf_row, ximg_row, ximg->width * ximg_bytes_per_pixel);

[2020-04-09 12:29] #130 closed

[2020-04-09 12:30] yuxue521 commented on #130
This problem is solved perfectly, thank you

[2020-04-23 18:04] bd8392 commented on #119
Any news on this?

[2020-04-23 19:57] pdsouza commented on #119
Check out our developer forum to keep an eye on which ports are going on. I
don't recall the 6T is being worked on yet though.

On Thu, Apr 23, 2020, 2:05 PM bd8392 <notifications@github.com> wrote:

[2020-04-23 20:24] yuxue521 opened #145 "How to enable touch screen in maruos linux"
How to enable touch screen in maruos linux
xinput can't find my touch input device, can't touch, but I have data for cat event0

rk3288:/ # getevent -l
add device 1: /dev/input/event4
  name:     "rk29-keypad"
add device 2: /dev/input/event0
  name:     "ilitek_ts"
add device 3: /dev/input/event3
  name:     "rockchip_headset"

in  linux
xinput -l
I didn't find ilitek_ts device

[2020-04-23 21:22] yuxue521 commented on #145
I found it using evtest tool
But I cannot use

root@stretch:/# evtest
No device specified, trying to scan all of /dev/input/event*
Available devices:
/dev/input/event0:      ilitek_ts
/dev/input/event1:      2.4G Wireless Keyboard&Mouse
/dev/input/event2:      2.4G Wireless Keyboard&Mouse
/dev/input/event3:      rockchip_headset
/dev/input/event4:      rk29-keypad
Select the device event number [0

[2020-04-24 10:42] bd8392 commented on #119
Okay thank you :-) you know how to get to the developer forum? Is there a chance to get the oneplus 6t ported ? Or is there a manual how I can do it myself? (For rather unexperienced useres in porting)

[2020-04-24 19:56] yuxue521 commented on #145
If touch is enabled please use maruos 4.0

[2020-04-24 19:56] #145 closed

[2020-04-24 19:56] #144 closed

[2020-04-25 00:36] pdsouza commented on #119
Dev forum can be found here: https://groups.google.com/forum/#!forum/maru-os-dev
Please see our docs for porting guides (high-level): https://maruos.com/docs/developer/

[2020-04-26 18:01] #136 closed

[2020-05-06 05:51] utzcoz commented on #99
@pdsouza, I found an very interesting project, called [android-xserver](https://my20percent.wordpress.com/2012/02/27/android-x-server/), and it can run an x-server in Android based on its view subsystem. In another word, maybe we can use an application to run x-server in Android, and Linux draws content to it based on local area network.

[2020-05-06 07:52] SuJiKiNen commented on #99
there's a lot vnc app out there...which more sophisticated solution.

I fonud this [project](https://github.com/Genymobile/scrcpy) more fancy,It's using adb.

[2020-05-07 15:15] utzcoz commented on #99
@SuJiKiNen vnc can be candidate choice for it, but `scrcpy` is not. The `scrcpy` is used by Linux to project Android. It's useful for Android developer with develop kit without screen.

[2020-05-07 22:43] pdsouza commented on #99
@utzcoz Very interesting. So we could run `android-xserver` on the Android side and have the Linux container apps speak directly to it by sharing the local network namespace. This would bypass the extra copying done by mclient/mflinger. I wonder how the performance is? It would be cool to build a demo app to try it out.

[2020-05-07 23:41] dianaxxyyzz commented on #99
You pointed it out - > performance.
I tried that androidnx server long time ago, and from my point of view was just crap compared to mflinger mclient.

[2020-05-09 11:57] SuJiKiNen commented on #99
as yon can see the `scrpy` performance is very good,thus this opens the opportunity to  every device can streaming acceptable HDMI content.

just need a middle tiny gadget which run a adb server and transform things into HDMI buffer.I think there is already something like this had implemented,but need to install specific app on phone,which is not ideal,and may not have a way to talk  to mclient cu

[2020-05-09 18:45] pdsouza commented on #99
Sigh. That is unfortunate... It looks like the entire thing is written in the Java layer. Maybe it would be better if implemented as native C/C++?

What would be cool is if mclient could link against the SurfaceFlinger APIs directly, which would eliminate the need for the copy between mclient and mflinger. This seems like something [libhybris](https://github.com/libhybris/libhybris) might make pos

[2020-06-09 15:16] countnoobula opened #148 "[star2lte] Desktop freezes when plugging into DEX"
Hey everyone

I'm new to this environment and recently got a DEX and decided to use my old Samsung Galaxy S9+ to play with.

I flashed successfully through TWRP, but when I plugged it in through DEX, it freezes with a few white rectangles on a black background.

Could anyone advise if there is something I could do to solve this please?

[2020-06-24 20:47] szEIgo opened #149 "Egpu support even possible 'hardware wise'"
Hi maruOS, awesome project--big fan here!
I had a dream of using a phone as a primary driver for most tasks- i figured it might need some external hardware, to complete tasks like gaming and advanced office jobs.

So would it be possible to passthrough the connected devices directly to the 'VM i presume' running MaruOs- or is There hardware barriers

[2020-07-04 14:01] pdsouza commented on #148
Unfortunately this is a known issue for `star2lte` that we weren't able to track down. Our maintainer is @dianaxxyyzz, who may have an older image he can share with you without the freezing issue.

[2020-07-04 14:06] pdsouza commented on #149
I don't think anyone has tried an eGPU with Maru. The closest I can think of is USB passthrough, which you can read up on in #29.

[2020-07-18 10:55] pintaf commented on #127
Hello @utzcoz
I checked the source. I'll try to integrate this in my LOS16 build. This seems like a really good job.
I want to add the possibility to run mcprepare from the settings app too and maybe also the possibility to dl the rootfs.
It'll be easier to work with your app than doing this on the LOS settings.
Thanks !

[2020-08-09 16:32] luka177 commented on #38
It sounds like topic is discounted, but still current status:
Compositors that have hwcomposer backend: kwin (plasma and plasma mobile hwcomposer1 and hwc2 wip), wlroots(sway and phosh hwc1 and hwc2), mir(ubuntu touch hwc1 and hwc2), xorg(hwc1 and hwc2). Most work is done for android 7 and 9, must work on 8 too. No android 10 support yet.

[2020-08-10 07:47] luka177 commented on #90
Probably this must be closed, as multirom id=s dead and have no SAR support.

[2020-08-10 14:42] pdsouza commented on #90
@luka177 Thanks for the update!

Closing.

[2020-08-10 14:42] #90 closed

[2020-08-10 15:27] luka177 commented on #142
Closing as this is useless

[2020-08-10 15:27] #142 closed

[2020-08-10 15:29] luka177 commented on #78
So any more problems, or issue can be closed?

[2020-10-17 14:22] utzcoz commented on #127
In Android 10, the settings can't find custom fragment class with its `ClassLoader`. So we should implement preference content to outer settings activity.

[2020-10-26 17:47] twaik opened #153 "Some suggestions for future releases"
Hi, Preetam. What's up?
I have some notes about future MaruOS releases. I hope they will be usefull.

I had some time to analize MaruOS commits and found out that MaruOS is:
<details><summary>0. MaruOS structure</summary>

  1. AOSP.
  2. Patches for framework/native that allow us to drop external keyboard and mouse events.
  3. Patches for framework/native allowing us to lock NativeBuffer and use

[2020-10-28 01:18] pdsouza commented on #153
@twaik Wow, thanks as always for your hard work digging into the source and figuring out how we can make Maru better, especially from the very early days of this project! I really appreciate your support.

Yes, pretty much all of these suggestions would be amazing to have in Maru. Anything we can do to reduce Maru's custom patches and bring it as close as possible to clean AOSP/Lineage with GSI wo

[2020-10-29 19:09] twaik commented on #153
Bad news. We can not create system overlay which will intercept and filter events before dispatching. That is impossible due to Android's security.
Good news. I think we do not need to patch frameworks to drop some devices. It can be done by InputManagerService. I can not use all of it's features without recompiling firmware but I can try to use it like [scrcpy does](https://github.com/Genymobile/

[2020-10-29 22:02] twaik commented on #153
Looks like I found a solution.
1. We can use System Server service. It will require patching frameworks_base, but we will be able to use WindowManagerService.setInputFilter.
2. The same as 1, but we can use Xposed framework to inject this service to app_process.

[2020-10-30 10:19] twaik commented on #153
Another solution is to use libinputflinger used by SystemServer/.InputService to get input inside application. I think writing my own [NativeInputManager](https://android.googlesource.com/platform/frameworks/base.git/+/refs/heads/master/services/core/jni/com_android_server_input_InputManagerService.cpp#187) will be enough. We will be able to disable external input devices in Android InputService a

[2020-10-30 13:37] utzcoz commented on #153
@pdsouza , the @twaik 's solution to remove dynamic input patch from base to a single system service can be a good choice to consider. From the Android 10 code, `NativeInputManager.disableDevice` can intercept input events of specific device to base level. If it can be done, we will have more compact code for maru features.

[2020-10-30 14:16] twaik commented on #153
@utzcoz You are right. If you want you can remove dynamic input dropping now and disable input devices from Maru Interactive mode tile code.

[2020-11-01 01:29] twaik commented on #153
Looks like my phone is bricked :) I've flashed wrong firmware and now it is only vibrating.
I think I will go on developing using virtual machine...

[2020-11-02 13:08] utzcoz commented on #153
Okay, I will try it when I have enough free time. And I will give feedback to this issue.

[2020-11-02 17:33] twaik commented on #153
Hi. I do not have any physical device to test it so I need somebody who have Android 9 device. It should respond to `adb shell getevent` without `Permission Denied`. No root required.
1. Build that using AOSP 9.0 source. [MaruInputTest.tar.gz](https://github.com/maruos/maruos/files/5476839/MaruInputTest.tar.gz)
2. push it to /data/local/tmp.
3. `adb shell /data/local/tmp/MaruInputTest`
4. Post log

[2020-11-03 00:00] pdsouza commented on #153
@utzcoz Wow, it would be great if we could use `InputManager` from the Java layer to do dynamic input switching. I see that we have `InputManager.disableInputDevice()` [available even in Android 9 Pie](https://android.googlesource.com/platform/frameworks/base.git/+/refs/heads/pie-release/services/core/java/com/android/server/input/InputManagerService.java#672), which is good! I am happy to work wi

[2020-11-08 20:35] twaik commented on #153
@pdsouza hi. Looks like I have built bionic version of libX11.so. If you want to merge mclient and mflinger into one program you can use it. It can be the way to avoid pathching frameworks_base to provide copying screen content using GraphicBuffer/Surface hacks.
Also I found that there is SurfaceControl class in Android framework. It can create surfaces and assign layerstack. That means you can us

[2020-11-08 20:55] twaik commented on #153
Looks like I have Xorg and its dependencies sources that can be built using NDK/AOSP build systems. I still did not test it but it will work. This work is based on old project that worked.
I think we will have something like that:
1. Java service with Xorg. Xorg needs to be executed in isolated process and it is not recommended to be included into Activity. It will be built like scrcpy or TermuxAm

[2020-11-08 21:46] twaik commented on #153
Also I found out that it is possible to add QuickSettings tiles even without modifying system app:

[code]

We even can execute these comands on first startup on device. Or just put a button in app (2) which will trigger comandexecuting in Java service (1).

[2020-11-14 07:49] utzcoz opened #154 "plan for maru0.7"
Hi @pdsouza , we know @pintaf has ported maruos to Android 9.0, can you push base LOS to repositories with maru-0.7 branch, and @pintaf and other people start to send pr with porting patches? The people of community can help to test and review, and you just need to review lastly and merge the pr. If we can start recent days, maybe we can release maru-0.7 the Q1 of the next year.

[2020-11-15 19:41] twaik commented on #153
Well,my Xorg build (NDK) works. I checked it with x11vnc+fluxbox+pcmanfm. I am starting to write input and output drivers.

[2020-11-15 22:03] twaik commented on #153
@pdsouza @utzcoz Can you please build Android Emulator x86_64 image for me? It willbe much easier to check if everything works well on "real" MaruOS ROM.

[2020-11-15 23:40] pdsouza commented on #154
@utzcoz Sounds good! I will get maru-0.7 branches set up soon and will update this issue as I make progress. 2021 Q1 is a good target for 0.7.

[2020-11-16 08:39] utzcoz commented on #127
@pdsouza if we start to maru-0.7, I can collaborate with @pintaf to do it for maru-0.7 based on @pintaf 's work. Maybe the maru-0.7 can be a more suitable place to integrate it. Also it can integrate some thoughts in [Some suggestions for future releases](https://github.com/maruos/maruos/issues/153) by @twaik.

[2020-11-16 18:00] twaik commented on #154
Something about mflinger. I can provide libX11, libXfixes, libXext, libXdamage, libXi and libXrandr source to be built with Android tree so someone can try to merge mflinger and mclient into one program.

[2020-11-16 18:29] pdsouza commented on #127
@utzcoz Yes, let's do that. I've already begun to set up a basic `maru-0.7` manifest. You can see my early work here: https://github.com/pdsouza/manifest/tree/maru-0.7. I will merge this to our main manifest repo once I confirm I can get a LOS16 build working without issues. Then I can accept PRs on that branch to integrate `MaruSettings` and other suggestions by @twaik.

[2020-11-16 19:18] twaik commented on #127
I do not think I will be ready for release soon. But there is a possibility that I can adaptate mflinger to be both X11- and Surfaceflinger client.
Actually there is a 3rd solution. I used it for Termux project. I implemented basic wayland server that can be output only for XWayland. It implements a basic shared memory based output and keyboard/mouse/etc input. I stucked at touchpad emulation, but

[2020-11-16 22:12] pintaf commented on #154
@pdsouza if you wanna base yourself on my manifest: [https://github.com/pintaf/manifest](https://github.com/pintaf/manifest).

It's already building some devices. It's not working 100% especially nash, but it's on the good path. PME workd quite well.
I have introduced more changes to los envsetup script or similar to remove these lineage options and get a cleaner lunch menu.

Let me know if you ha

[2020-11-16 22:14] pintaf commented on #127
@Ready to work on that with you.
I just set up again a build machine for maru building (will do it for Aquarus X2), so really looking forward pushing things further.

[2020-11-17 02:14] pdsouza commented on #154
@pintaf Thanks, I was already referencing your manifest as soon as I started. I'm just getting the official maru-0.7 to a buildable state; then you can send me PRs for most of the changes from your repos and I'll review and merge them in.

[2020-11-22 23:35] pdsouza commented on #154
Alright guys, I've pushed up a [manifest](https://github.com/maruos/manifest/tree/maru-0.7) for `maru-0.7`.

Everything builds without error when I tested with a Nexus 5 (hammerhead). The core services like `mflinger`, `perspectived` look like they are starting up fine. I think at this point we just need to cherry-pick @utzcoz's dynamic input switching patches and the `PerspectiveManager` batches

[2020-11-26 13:08] pintaf commented on #154
Hi @pdsouza  Excellent news!
I'll work on this this week-end, and integrate for example the repos for HTC10.

Once everything seems nice do you think about building the devices officialy with the new buster image ?

@utzcoz , looking forward working with you on integrating your external settings. It would be nice that this external settings could download the container image and decompress it. It

[2020-11-26 14:10] pdsouza commented on #154
@pintaf That sounds great! I can't wait to ship an official image for the HTC10. And yes, absolutely, as soon as 0.7 is stable and all is working well I will start up the automated builds for `maru-0.7` for all working devices and we'll get it out as official images on the website so everyone can try them out.

[2020-11-27 10:05] pintaf commented on #154
@pdsouza for me, out of the box, the only device you shared in your 0.7 manifest, the hammerhead is failing to build:

[code]

Seems like a partition size issue.
Appart from that it seems to build correctly so I will integrate the htc10 and Aquarius X2.
Maybe also the Pixel XL 2 from bootlessxfly.

[2020-11-27 14:50] pdsouza commented on #154
Ah yes, I will have to disable dex pre-optimization for hammerhead since
the system image is too small on newer versions of Android. I didn't build
with a full-size container image yet so I didn't hit this error. Another
reason why I am looking forward to having our container images downloaded
straight to the userdata partition with our proposed app to bypass these
size restrictions on legacy devi

[2020-11-27 22:29] pintaf commented on #154
I do have an issue while building HTC10 pme:

[code]

In the past I had solved it in this commit:
https://github.com/pintaf/android_system_sepolicy/commit/ffcf3df7ed9fd9ff86e46c549d90f102d984a693

Do you have any suggestion about why I hit this error with PME and not with hammerhead ? This seems so weird because the issue is linked to mcprepare allow rules, so it shouldn't be device specific. At f

[2020-11-27 22:47] pintaf commented on #127
I would love to help you on that, but I lack low level knowledge. I'm normally more a frond end dev. I don't even totally understand what you wanna do, but if you need help, tell me, I'll do my best to help, I'm a fast learner

[2020-11-28 10:39] pintaf commented on #154
Just posting comments as documentation for my future PRs:
I have hit another issue.
[code]

Solved by adding
  <project name="LineageOS/android_packages_resources_devicesettings" path="packages/resources/devicesettings" remote="github" revision="lineage-16.0" />
to the manifest

[2020-11-28 10:49] utzcoz commented on #154
@pintaf , could you send a PR to `manifest` repo `maru-0.7`? I can fetch and rebuild my local code.

[2020-11-28 10:52] pintaf commented on #154
Yes, will do

[2020-11-28 10:59] utzcoz commented on #154
I remember the SELinux is `permissive` default. I have discuss this problem with @pdsouza in issue https://github.com/maruos/vendor_maruos/issues/4.

[2020-11-28 11:12] pintaf commented on #154
PR made. It includes HTC 10 device, the devicesettings repo solving the missing string issue.
it does not include my sepolicy repo that solves the sepolicy issue I had.
I don't know what to do about that.

[2020-12-06 11:17] pintaf commented on #154
@pdsouza can you add me as maintainer for:
android_kernel_htc_msm8996,
android_device_htc_pme,
android_device_google_marlin,
android_kernel_google_marlin

As of today, I cannot push new maru-0.7 branches:
`loicpoisot@pop-os:~/code/android_kernel_htc_msm8996$ git push maruos maru-0.7
ERROR: Permission to maruos/android_kernel_htc_msm8996.git denied to pintaf.
fatal: Impossible de lire le dépôt dist

[2020-12-07 02:08] pdsouza commented on #154
@pintaf Just added you to two teams within our org (marlin and pme) that have access to those repos.

[2020-12-07 14:16] utzcoz commented on #154
@pintaf if you have finished the work of porting marlin and sailfish, you can push LOS 16 source code to maru-0.7 branch, and send your patches with a PR, I can test it locally.

[2020-12-07 14:53] pintaf commented on #154
@utzcoz I probably won't have time to PR this until wednesday.

So if you want to try it out as of today, you can head over this: https://github.com/pintaf/manifest/blob/maru-0.7-pintaf/default.xml
I was planing to push my maru changes directly to maru-0.7.
I don't see the advantage in pushing just LOS16 sources, then the rest in PR ?

[2020-12-07 15:35] utzcoz commented on #154
Okay, I will test after pushed. The pr can help to show the real changes of device and kernel to boot Maruos, and can be searched directly.

[2020-12-08 23:01] pintaf commented on #154
two PR made for pixel kernel and device sources.
Manifest PR updated as requested and including new pixel repos,

[2020-12-19 04:07] utzcoz commented on #154
@pdsouza @pintaf , I transfer maru settings project to maruos organization, because I'm struggling with non-boot of pixel, and I don't have time to process it. @pdsouza if you think its fine, you can accept the transferring, and @pintaf maybe help improve it on its htc device.

[2020-12-19 10:25] utzcoz commented on #154
The sailfish and marlin boot correctly now with extracting vendor blobs. But the rootfs didn't been extracted correctly, so I will try to fix this problem.

[2020-12-19 11:35] pintaf commented on #154
Hello @utzcoz So you ended up on the one thing I was not able to fix.
Indeed, at the end of migrating to 0.7, it was working correctly on my HTC 10, only problem, mcprepare was "incorrectly" preparing things. but If I deleted the destination folders and run mcprepare after first boot, everything was working well.
I never found out why it was not working correctly on first boot.
I had [modified](ht

[2020-12-19 11:37] pintaf commented on #154
Also, I did not spend too much time on that, because since we plan to transition to your external settings, the mcprepare could potentially be run after downloading the rootfs image. Instead of including it at build time.

[2020-12-19 12:47] utzcoz commented on #154
[code]

Looks like its a selinux problem.

[2020-12-19 15:07] utzcoz commented on #154
When I try to port perspective service in `frameworks/base`, the `Android.bp` needs the `libperspective` defined with `Android.bp`. But after I change `Android.mk` of `libperspective` to `Android.bp`, it needs `liblxc` defined in `Android.bp`. The [lxc-android](https://github.com/ppoffice/lxc-android) provides an example to use `Android.bp` to build lxc-3, maybe we can try.

[2020-12-20 19:55] pintaf commented on #154
I though that maybe we could get in touch with @ppoffice  from lxc-android.
Maybe he would be able to help us on those topics and help transition from lxc1 to lxc3.

[2021-01-05 22:51] pintaf opened #157 "Handle second second screen orientation"
Second screens are handled by Android in maru as far as I understood.

How can we set orientation of the second screen ? for example if it is in portrait mode.

Should it be done by the linux container or handled by Android ?
If it is the later, here are some hints I found:

https://play.google.com/store/apps/details?id=com.farmerbb.secondscreen.free&hl=en_US&gl=US&showAllReviews=true
https://andr

[2021-01-17 08:50] utzcoz commented on #154
I'm trying to integrate `MaruSettings` to maru-0.7, but it makes `AudioFlinger` starting failed, I will try to fix it later. @pintaf do you have encounter this problem before?

[2021-01-17 08:59] utzcoz commented on #154
Okay, I found the reason, the  `MaruSettings` misses some permissions, and it caused zygote dead and reboot.

[2021-01-24 00:10] pdsouza commented on #154
Maybe this was causing @pintaf's boot hang issue?

[2021-01-24 15:27] utzcoz commented on #154
I remember @pintaf has pointed out the permission problem. Maybe he missed something after `repo sync`.
The integrating for `MaruSettings` is pushed fore review, and I will start to add notification for desktop running to `MaruSettings`, the part deleted from `frameworks/base` porting.

[2021-01-30 02:50] dianaxxyyzz opened #158 "maru 0.5 (N) compilation failed cause of changed LOS sources"
Some LOS souces for 14.1 changed till this sources were linked here , so if you get a compilation error about ninja do this steps :
run
export LC_ALL=C make

Download this 2 packages as zip and replace the old ones

https://github.com/LineageOS/android_packages_apps_ManagedProvisioning/tree/01eebf922cb5a6cef07e11631c9d0b82100509a3

https://github.com/LineageOS/android_packages_providers_DownloadPr

[2021-01-30 02:57] dianaxxyyzz commented on #154
Just a note :) and they can confirm
**Hi @pdsouza , we know @pintaf has ported maruos to Android 9.0, can you push base LOS to repositories with maru-0.7**

I was again the one who ported it to Los 16.1 :)) and I send them  the patches , but because he failed to apply the patches I also send them the full modified sources they can just build :)
:)

[2021-01-30 04:22] dianaxxyyzz opened #159 "Desktop freeze possible resolution"
If your linux instance starts so you configured the kernel to suport lxc to start it , but you seee anomalies inside linux , make sure your kernel configs are like in '<' and not like in '>'

[code]

[2021-01-30 06:06] utzcoz commented on #154
@dianaxxyyzz welcome back. I'm sorry to miss it. I also can confirm it, and I have saw your work and your sharing in maruos' Google Groups. So sorry to miss it.

[2021-01-30 22:32] pintaf commented on #154
Yes true. I was thankful that @dianaxxyyzz shared the full sources, because there were modifications that he forgot to share as patches, so full source helped me to put them in git repos and make it available for build to everyone.

[2021-01-30 23:34] dianaxxyyzz commented on #154
You do a great job guys and thank you , I will try myself the 0.7 in HTC 10 . Maybe we add the @twaik pulseaudio server I allways used it with pleasure

[2021-01-31 01:44] dianaxxyyzz opened #160 "Maru OS phone as a GSM router"
There was some challenges to make work perfectly a maru os phone as a 4G GSM router , here is be the required setup and the solutions to make all work .
The required setup had to meet the fallowing requiremets.
Maru phone (HTC 10) running >= maru 0.5 had to do this tasks :
-1 Act like a GSM router , android provided his hotspot option
-2 Keep the same BSSID and WIFI channel all time , because a ex

[2021-01-31 23:40] twaik commented on #154
Hey guys. I think I have 2 possible solutions for low system space problem.
1. Switch system and data partitions. In most cases data partition is much bigger. But you need to make sure recovery knows about it.
2. Use external sdcard's second partition as /system. Some kernels do not support it.
It should be enough for most cases.

[2021-02-01 00:59] dianaxxyyzz commented on #154
@twaik just for information can you let us know on what device you had problems with low system partition space?

[2021-02-01 06:48] twaik commented on #154
@dianaxxyyzz I hadn't. But somebody here had.

[2021-02-01 10:57] dianaxxyyzz commented on #154
I see .The lineage os and our patches have to fit insite the system partition but for sure the problem appear because the debian rootfs that ships inside the system partition . I think the most elegant solution is to install the rootfs by user ,  after the Android starts using the MSettings Aapp directly into the /data/ partition .

[2021-02-01 11:04] twaik commented on #154
It is possible to download tarballs from external server and not to ship it with system. Or maybe it is possible to build Debian container from scratch on device using something like Linux Deploy.

[2021-02-01 11:38] dianaxxyyzz commented on #154
yes @twaik , great ideea with 'using something like Linux Deploy' , I remember I used it to make the first Ubuntu image

[2021-02-02 01:43] pdsouza commented on #154
Downloading container images is the next step once we have our base `MaruSettings` app which @utzcoz is doing some great work on with help from @pintaf. See https://github.com/maruos/maruos/issues/127.

The /system space issue is mostly on our legacy devices like hammerhead. Our old Nexus 7 had space issues even on maru 0.6, which is why we have discontinued it for now. We should be able to bring

[2021-02-07 14:42] utzcoz commented on #159
@dianaxxyyzz @pdsouza could we add this solution to doc? The developer may check the doc firstly when he/she has the similar problem.

[2021-02-07 14:46] utzcoz commented on #157
Yes, we can do it. We just need to change the surface size used by `mflinger`, and the `mclient` will adapt to it.
@pintaf could you provide the use case for this feature? If it may be used for some important occasion, we could consider to implement it.

[2021-02-07 14:49] utzcoz commented on #78
@pdsouza could we add those suggestions to doc and close this issue?

[2021-02-08 16:14] zhou0 commented on #78
what is the login and password?

[2021-02-08 16:16] utzcoz commented on #78
The default username : maru
The default password: maru

[2021-02-09 00:44] pdsouza commented on #159
Added in https://github.com/maruos/maruos/commit/15760b24cfc0f2633c8f793eed9c5725430dd7bc.

[2021-02-09 01:21] pdsouza commented on #78
@utzcoz Added in https://github.com/maruos/maruos/commit/344578350d7bc4e338a5d4fa5fc319b5d22fc22c.

Closing this issue as the workaround has been added to our docs.

[2021-02-09 01:21] #78 closed

[2021-02-09 15:01] utzcoz commented on #159
Could we close this issue?

[2021-02-09 15:46] #159 closed

[2021-02-09 15:47] #158 closed

[2021-02-14 20:04] pintaf commented on #157
no, I would not say it's such an important occasion, but maybe if we allow setting the surface size (that sometimes default to 720p) in the settings, maybe we could also add a setting for portrait or landscape mode

[2021-02-23 15:27] utzcoz commented on #154
I will start to port dynamic input switch based on @twaik 's suggestion.

[2021-02-26 14:24] HMCBSJ opened #161 "Will it support for samsung device?"
As an android user, I feel sad that loD is gone. It look like maru is perfect option for the alternative.

[2021-02-26 14:40] utzcoz commented on #161
The MaruOS supports `star2lte` with `maru-0.6` currently. The support for other samsung devices should be done by other community developers  that have device and interested to port MaruOS for it.

[2021-03-16 14:40] utzcoz commented on #127
Okay, the `MaruSettings` has been added to maru-0.7, and it works with the basic functions. Although it has some works to be done, I will create new issue for the specific problem,  so I close this old and long issue.

[2021-03-16 14:40] #127 closed

[2021-03-27 16:10] bf8392 opened #164 "Create GSI Rom"
Hi :-)

I love the approach of your rom! I wonder if it would be possible to provide a GSI image for treble phones :-). With this you would support a whole lot of new phones without maintaining all of them individually :-)

[2021-03-29 00:12] pdsouza commented on #164
Thanks for the suggestion! I would love to have Maru shipped on a GSI. We have some plans to get Maru ready for it - more details in #153.

[2021-04-07 15:53] utzcoz commented on #154
Update: the new version for dynamic input switching based on @twaik 's suggestion with `InputManager` disable input device API has been merged (https://github.com/maruos/android_platform_frameworks_base/pull/10). It passes basic tests. The next step I will work is to add desktop state notification to `MaruSettings`, which is more important than adding API to dismiss pointer immediately  from my op

[2021-04-08 14:43] pdsouza commented on #154
Sounds good @utzcoz. It is really cool to be using the new `InputManager` APIs as @twaik suggested instead of adding our own patches. I too noticed the pointer not immediately disappearing but we can fix that after the desktop state notification.

[2021-05-30 06:31] utzcoz commented on #154
After tile service merged into `MaruSettings`, I think all features are all merged or refactored into `maru-0.7`.  There is a found issue that showing internal problem dialog caused by matrix compatibility on Pixel devices. I will try to fix it recent days. Hi @pdsouza  maybe we can prepare a alpha release for `maru-0.7`.

[2021-05-30 14:11] pdsouza commented on #154
This is great! I will get started on setting up automated builds for 0.7.

On Sun, May 30, 2021, 2:31 AM utzcoz ***@***.***> wrote:

[2021-06-03 17:29] pdsouza commented on #154
Just merged security updates from LOS16 through May 2021 into `maru-0.7`. After @utzcoz successfully moved all our Settings code to MaruSettings, the work needed to merge in updates is much reduced - the only repos that I needed to update were `frameworks/base`, `frameworks/native`, `build`, and `manifest`.

Remember to `repo sync` on your next builds to get these changes!

[2021-06-04 00:41] utzcoz commented on #154
I will test with my sailfish and Marlin devices.

[2021-06-05 03:20] utzcoz commented on #154
Another thing, @pdsouza could you help to change default branch to `maru-0.7`? I think it is ready.

[2021-06-05 03:36] pdsouza commented on #154
Done! All `maru-0.7` repositories, including `manifest`, should have default updated to `maru-0.7`.

[2021-06-08 15:36] utzcoz opened #173 "Some udpates for user guide contents"
1. Some newer devices doesn't have `recovery` partition, and we should add doc to guide user to flash `boot ` partition.
2. Some devices will enter `No command` page with broken Android robot icon after running `adb reboot recovery`, we should add guide how to pass it to enter real recovery page.
3. When flashing images with `TWRP`, we should tell user to disable signature checking before flashing

[2021-06-09 00:36] pdsouza commented on #173
Thanks for documenting this and working on fixing these issues. There is a lot we can do to improve the docs.

[2021-06-17 18:08] Saikatsaha1996 opened #174 "Please add support for MI 10T"
I really loving Maru os
Please add support

Device Mi 10T
Android 11
Processor Snapdragon 865
Ram DDR5
Gpu Adreno 650

Please help wanted

[2021-06-18 15:16] utzcoz commented on #174
Thank for your love of MaruOS. The support for new device should be done by developer has this device. I think all current maintainers don't have this device. The MaruOS doesn't support Android 11 now, I think it is difficult to support.

[2021-06-18 16:18] Saikatsaha1996 commented on #174
Not a problem I can downgrade my os to 10...

[2021-06-19 03:55] utzcoz commented on #174
Sorry, the official MaruOS maybe stay on Android 9 version some months. You can post your need to https://groups.google.com/g/maru-os to check whether there are other developers have interested on porting MaruOS for MI 10T based on community Android 10 version MaruOS.

[2021-06-19 14:10] #173 closed

[2021-06-22 02:21] dlan17 opened #176 "sound support for maruos?"
Has anyone tried to get sound working in the guest os side (debian) with maruos?
As I checked myself, seems no one worked on this!?

Would it possible to leverage pulseaudio sockets/network mode?
May need some changes in the host side..

[2021-06-24 14:47] utzcoz opened #177 "doc: Add tips to install TWRP on both slots if device supports A/B updates"
It is discussed at https://github.com/maruos/maruos/pull/175. cc @pdsouza .

[2021-06-24 14:50] utzcoz opened #178 "doc: Add tips to extract pixel vendor binaries"
Add tips to extract pixel vendor binaries for developer at https://github.com/maruos/maruos/blob/master/docs/developer/build.md.
cc @pdsouza .

[2021-06-24 14:53] utzcoz opened #179 "doc: Update section `Build the desktop image` with current blueprints state"
https://github.com/maruos/maruos/blob/master/docs/developer/build.md#build-the-desktop-image uses old method to build desktop image, and blueprints supports docker script now, and we can update it with hints, and add blueprints' README link to it for deeper understanding need. cc @pdsouza .

[2021-06-24 19:12] pdsouza commented on #176
We have a few users who have a working setup with pulseaudio. Please see this thread: https://groups.google.com/g/maru-os-dev/c/HzqAdt2bpNw/m/kJFcH-O8AgAJ. There may be some newer information on that forum too if you search.

Hope this helps.

[2021-08-04 16:47] utzcoz opened #180 "Snapd can't run on MaruOS Linux with permission problem"
I used `sudo apt install snapd` to install `snapd`, and tried to use `sudo snap refresh` to refresh snap repositories, but it shows following error message with permission problem:

[code]
I tested it on my sargo phone, and maybe other devices also have this problem. I will test it on my sailfish or marlin.

It is not critical, but it is interesting to check MaruOS's Linux support for wide used to

[2021-08-04 17:06] pdsouza commented on #180
Thanks for testing this out and filing this issue so others have a
heads-up! I agree we should try to support most common tools. It would be
great to support snapd when we get some time.

On Wed, Aug 4, 2021, 12:47 PM utzcoz ***@***.***> wrote:

[2021-08-20 06:56] dlan17 opened #182 "How to permit socket connection between android (host) and container(Linux)?"
Hi Maruos Developer:
   FYI, I'm trying to port mflinger/mclient to android 11.. while having problem here

   Do you know how to permit socket connection between Android OS and the container(Linux)?
as I understand the mflinger running at android act as server, while mclient running at container(Linux) act as client, and it will connect to mflinger.
   Following is the error while running mclient

[2021-08-20 07:21] utzcoz commented on #182
Hi @dlan17 , it's very happy to see MaruOS is on the road to Android 11. In MaruOS, mclient in Linux container uses `AF_UNIX` socket to communicate with mflinger in Android. It hopes to work correctly. If it doesn't work correctly, there are some possible reasons:
1. Missed related SELinux rules to permit it.  We have added many SELinux rules for MaruOS, but new devices and new Android  maybe need

[2021-08-20 09:52] dlan17 commented on #182
hi @utzcoz
 Thanks for your quick response!
 It seems there is problem with network in container, since I've already tried to force disable SE rules (set to permissive mode)..
 So, how to setup the network in container? as I check maruos which uinsg "lxc.network.type = none" for container (file /data/maru/containers/default/config)?

[2021-08-20 12:15] utzcoz commented on #182
What I said above is it. I read [lxc.conf](https://linux.die.net/man/5/lxc.conf) again, I think `lxc.network.type = none` is fine, and it will let container to share host's network without any bridge, if you don't use newer lxc. Could you provide a full logcat when starting Linux on MaruOS? Maybe there is something can be used to identify problems. And another thing, could you help to check networ

[2021-09-18 02:20] dlan17 commented on #182
forgot to report back, use "lxc.net.0.type = none" fix my problem (which share host's network space)

[2021-09-18 02:20] #182 closed

[2021-09-18 02:59] utzcoz commented on #182
Hi @dlan17 , thank you to give feedback about this problem. Do you have willing to send a PR to https://github.com/maruos/maruos/blob/master/docs/developer/porting.md to add a short description for this problem? Maybe there are other developers could meet this problem.

[2021-09-18 06:05] dlan17 commented on #182
Em.. I haven't investigated further, but the root cause is probably that I upgrade lxc to more recent version 4.0.10 (still haven't ported it android, but by throw a static app)

[2021-09-18 06:08] utzcoz commented on #182
NP. Looking forward to hearing you good news to upgrade lxc to 4.x correctly.

[2021-11-03 18:31] bootlessxfly commented on #154
@pintaf @pdsouza @utzcoz
 Im not sure this is the correct thread to post this on, but I have a solution for the neverallow rule that blocks mcprepare from being allowed to dac_override.

The solution requires us to add mcprepare to dac_override_allowed so that mcprepare is allowed to use dac_override. This is inside of domain.te. The one big issue I cam across with this solution was that mcprepare

[2021-11-04 16:11] utzcoz commented on #154
@bootlessxfly Thanks your work, I think this thread is the correct place for sharing. I have left some comments about your PRs.

For tracking Pixel 2 and Pixel 2L, you can contact @pdsouza to grant permission to create related projects under MaruOS, and push your source code to those projects. We can discuss how to process vendor binaries at email.

Sorry, I know `dac_override` from your comment a

[2021-11-16 07:12] hgz07 commented on #28
My fans wanna to use maruos debian app in android desktop.
How to do that ?

[2021-12-07 12:05] Soumyadeep98O opened #185 "There are many files...! Which one should I download?"
![Screenshot 2021-12-07 172844](https://user-images.githubusercontent.com/30073064/145025324-f614ce59-3a77-4b16-819a-14dcb437da02.png)
 And also, does this OS support Redmi 5? Redmi 5 is a very good capable device, after its initial release the device is still capable of supporting latest Android, and the XDA community is very active of Redmi 5 (Rosy), so can you release support for this device to

[2021-12-07 12:53] utzcoz commented on #185
Sorry, MaruOS doesn't support Redmi 5 now. If you want to download files for Redmi 5, there are no files for you.

[2021-12-07 12:54] utzcoz commented on #185
The supporting for new device is created by community volunteer/developer, and current developers of MaruOS don't have Redmi 5 device to make porting. If you have this device, it's recommended to port it by yourself.

[2021-12-07 12:59] Soumyadeep98O commented on #185
Oh! BTW, can you tell me where to learn about porting and stuff?

[2021-12-07 13:16] utzcoz commented on #185
You can check our developer doc: https://maruos.com/docs/developer/#structure. If you have any problem about porting, you can create a new discussion at this repo.

[2021-12-07 13:17] #185 closed

[2021-12-07 13:19] utzcoz commented on #174
If anyone has interesting in porting MaurOS for Mi 10T, you can follow https://maruos.com/docs/developer/#structure for it. If you have question about porting, you can create a new discussion at this repo for it. Feel free to reopen this issue if you have problem.

[2021-12-07 13:19] #174 closed

[2021-12-07 13:23] Soumyadeep98O commented on #185
Ok, I'll try!
Thnx!

[2021-12-07 13:23] utzcoz commented on #119
If anyone has interesting in porting MaurOS for OnePlus 6T, you can follow https://maruos.com/docs/developer/#structure for it. If you have question about porting, you can create a new discussion at this repo for it. Feel free to reopen this issue if you have problem.

[2021-12-07 13:23] #119 closed

[2021-12-07 13:24] utzcoz commented on #185
We're really encourage other developers to port MaruOS to different devices. Feel free to ask questions for your problem at this repo's GitHub Discussion.

[2021-12-07 13:25] utzcoz commented on #116
If anyone has interesting in porting MaurOS for Pocophone F1, you can follow https://maruos.com/docs/developer/#structure for it. If you have question about porting, you can create a new discussion at this repo for it. Feel free to reopen this issue if you have problem.

[2021-12-07 13:25] #116 closed

[2021-12-07 13:27] utzcoz commented on #49
If anyone has interesting in porting MaurOS for Xiaomi Redmi Note 3, you can follow https://maruos.com/docs/developer/#structure for it. If you have question about porting, you can create a new discussion at this repo for it. Feel free to reopen this issue if you have problem.

[2021-12-07 13:27] #49 closed

[2021-12-07 13:28] utzcoz commented on #48
If anyone has interesting in porting MaurOS for N4, you can follow https://maruos.com/docs/developer/#structure for it. If you have question about porting, you can create a new discussion at this repo for it. Feel free to reopen this issue if you have problem.

[2021-12-07 13:28] #48 closed

[2021-12-07 13:31] utzcoz commented on #68
Porting MaruOS to Android-x86 maybe a choice for intel based devices. There is a more related issue https://github.com/maruos/maruos/issues/40, we will discuss related problems at that issue, and I will close this issue. Feel free to reopen this issue, if you have any problem.

[2021-12-07 13:31] #68 closed

[2021-12-07 13:33] utzcoz commented on #34
If anyone has interesting in porting MaurOS forsamsung galaxy tab 4, you can follow https://maruos.com/docs/developer/#structure for it. If you have question about porting, you can create a new discussion at this repo for it. Feel free to reopen this issue if you have problem.

[2021-12-07 13:33] #34 closed

[2021-12-07 13:36] utzcoz commented on #28
It can be a feature for MaruOS. We can add a config at MaruSettings, user can enable it, and mflinger will disconnect current connection with mclient, and re-initialize surface display and re-connect mclient to show desktop on main/device display.

[2021-12-07 13:37] utzcoz commented on #37
If anyone has interesting in porting MaurOS for LG G2, you can follow https://maruos.com/docs/developer/#structure for it. If you have question about porting, you can create a new discussion at this repo for it. Feel free to reopen this issue if you have problem.

[2021-12-07 13:37] #37 closed

[2021-12-07 13:39] utzcoz commented on #39
We have upgrade Debian to buster, maybe we can try integrate Onboard default for testing.

[2021-12-07 13:41] utzcoz commented on #93
Hi @pdsouza , I have saw some lxc config for cpu utilization, is it supported by MaruOS 0.6/0.7 alreay?

[2021-12-07 13:43] utzcoz commented on #96
If anyone has interested in this problem, you can left your words at https://github.com/maruos/maruos/issues/46. Also, there is an issue for migrating MaruOS's functions to a single app, you can check https://github.com/maruos/maruos/issues/99 if you have interested in. I will close it with duplicated reason, and feel free to reopen it if you have problem.

[2021-12-07 13:43] #96 closed

[2021-12-07 13:46] utzcoz commented on #64
Thanks @robgmills for sharing solution. If anyone has this problem, you can follow https://github.com/maruos/maruos/issues/64#issuecomment-301429442 to fix it. I will close this issue, and feel free to reopen it if you have any problem.

[2021-12-07 13:46] #64 closed

[2021-12-07 21:41] pdsouza commented on #93
Hi @utzcoz, yes this fix is available on Maru 0.6 for a while now :)

See https://maruos.com/blog/2019/announcing-maru-0.6-okinawa.html#performance-improvements for more info.

[2021-12-08 04:30] utzcoz commented on #93
Thanks for response. Looks like all problems of this issue are fixed and released. I will close this issue, and @Diporas feel free to reopen it if you have any problem.

[2021-12-08 04:30] #93 closed

[2021-12-28 08:19] solarchemist commented on #148
I'm pretty sure I can confirm the existence of this major issue on Galaxy S9+ (star2lte). But I wouldn't characterise it as frozen, more like the desktop is poorly rendered. I have been testing an S9+ with the latest MaruOS release a lot over the holiday, and sometimes parts of the XFCE desktop (most often the top bar with clock) is rendered OK. Other times it's just big white rectangles. But the

[2021-12-28 13:59] chitucgeorgian83 commented on #148
Just use this files
---------------
Desktop linux image is Ubuntu 16.04 arch64 .

Here is the zip you have to flash via TWRP .

https://androidfilehost.com/?fid=11410963190603842634

Also for all lineage os based roms ,for S9+ , you need your vendor files to be BRE5 or camera will not work.

https://androidfilehost.com/?fid=674106145207489374
--------------------------

[2021-12-30 03:36] solarchemist commented on #148
Thanks, you really helped me out! The archive and image you provided work great.

My only complaint (I know, complaints never end) is that I could not figure out how to route sound through the HDMI connection (in order for the sound to play from the monitor's built-in speakers). Will have to connect an audio cable from the 3.5mm jack to the monitor for now.
But I did find [this previous issue on t

[2021-12-30 12:03] utzcoz commented on #39
I will try to add it to current Debian buster image to check its behavior.

[2021-12-30 12:16] utzcoz commented on #39
Thanks. It's cool. I will give a try for it.

[2022-01-01 07:55] utzcoz opened #186 "sargo/bonito: mouse cursor doesn't show on Linux"
The view will response mouse hover, but cursor doesn't show on Linux. I tested it with Android's simulated secondary display. I also found some exception logs:

[code]

Looks like `mflinger` doesn't lock buffer correctly.

[2022-01-01 11:24] utzcoz commented on #186
After enabling debug of `mflinger`, and updating system, this exception disappeared, but cursor surface didn't show on screen.

[2022-01-01 11:46] utzcoz commented on #186
[code]
Looks like cursor layer is not visible.

[2022-01-05 12:45] YouYII commented on #28
In contrast, can I access Android phones from the desktop, such as using scrcpy

[2022-01-09 14:16] pdsouza commented on #28
@YouYII You can access `/sdcard` folder from the desktop out of the box. I agree that we need better access between both environments.

IIRC I thought someone had set up `adb` access on our forums. It might be worth a search there.

[2022-02-21 07:21] twaik commented on #153
About mflinger. Looks like you do not need to create virtual display using modified framework, you can create it using [VirtualDisplay](https://developer.android.com/reference/android/hardware/display/VirtualDisplay) API and then draw on it using Surface (you can pull and push GraphicBuffers and draw on them, use dequeue/queueBuffer on surface to draw GraphicBuffer). VirtualDisplay's backend is Su

[2022-02-21 07:25] utzcoz commented on #153
@twaik Thanks for pointing out it. I have used `VirtualDisplay` with `Surface` many times last year, it's a great approach to remove current frameworks modification(if we use system permissions or system uid to remove potential `VirtualDisplay` restrictions). Let's mark it as a queuing work for 0.7.

[2022-02-21 11:03] twaik commented on #2
As an option scrcpy can be used for this...

[2022-02-21 11:04] twaik commented on #2
I think this issue can be closed...

[2022-02-21 11:07] #2 closed

[2022-02-21 11:08] utzcoz commented on #2
@supertobi you can try scrcpy. Thanks @twaik .

[2022-02-21 11:22] twaik commented on #38
Looks like this issue is stale and can be closed...
Using libhybris for hardware acceleration will require patching bionic with halium patches (i.e. because Android's GLES uses thread-local-storage slots which are reserved for other programs in glibc). But you can try use android-emugl for this (I can provide some sources for desktop linux). It is impossible to draw directly to Xserver with GLES,

[2022-02-21 11:34] twaik commented on #2
@utzcoz I think you can try to modify scrcpy to make it work without adb. I think it will be helpful feature.

[2022-02-21 11:47] twaik commented on #153
About that. You can write a daemon which adds all users mentioned in container's `/etc/passwd` to all Android permission groups on start. Also it should follow `/etc/passwd`'s events using inotify. It will help to fix https://github.com/maruos/maruos/issues/180 and some issues mentioned in google groups.
If you are trying to replace patched framework with separate app you can start this daemon as

[2022-02-21 11:54] utzcoz commented on #2
I have did similar things for multi-display Android device, and I will mark it as another queuing feature for MaruOS. Thanks @twaik .

[2022-02-21 14:51] utzcoz commented on #154
Potential new features we can do for 0.7(ideas from @twaik):

1. Modify scrcpy to mirror MaruOS to desktop(see https://github.com/maruos/maruos/issues/2#issuecomment-1046797158).
2. Add a daemon to grant permissions for users added by `/etc/passwd`(see https://github.com/maruos/maruos/issues/153#issuecomment-1046792094).

[2022-02-22 03:46] utzcoz commented on #154
Update for 0.7: we can't release 0.7 alpha successfully last year, but we will try it again this year.

[2022-03-06 15:23] pdsouza commented on #39
@twaik Awesome thanks this is another solution we should try

[2022-03-21 18:50] kadallah opened #193 "Sargo shown in MaruOS docs but can't find download"
Hello! I'm super excited to try out MaruOS on my Pixel 3a. There's documentation on setting it up in the docs, and there's issues in the github referring to Sargo but I can't find the download anywhere to get it set up. Can anyone point me in the right direction?

[2022-03-24 13:13] utzcoz commented on #193
@kadallah Thanks for interesting in MaruOS on sargo. I have did basic porting for sargo some months ago, and updated documentation for it with expectation that we can release maru-0.7 very soon. Sorry for late release, and we decide to release it at June/July. If you want to try it before release date, I can contact @pdsouza to help build it from build server and share link here.

[2022-03-24 18:42] kadallah commented on #193
That would be very cool! But no pressure, if it adds extra work on your end. I'm also going to be running this on my main phone, so while I can tolerate some bugs, it might be better to wait until the official release if things are unstable at the moment.

[2022-03-26 09:47] ajvand6 commented on #193
I am interested in this as well, do you have an update on when this will become available?

[2022-03-27 10:07] utzcoz commented on #193
@kadallah @ajvand6 I would build it from my development machine next weekend and share download link here for testing purpose.

[2022-03-27 12:40] ajvand6 commented on #193
@utzcoz
Thank you, I'll be watching for it.

Do you have any of your past builds available? If not, no worries I'll wait until next weekend.

[2022-04-03 14:28] utzcoz commented on #193
@ajvand6 @kadallah I have uploaded test ota image for sargo at https://drive.google.com/file/d/1c6q0-tIj-njD3GRDMVfFIDSwp0AS2x79/view?usp=sharing. You can follow official documentation to install it for sargo. Please backing up your data before installing maru-0.7 for sargo. Feel free to file a new issue when you found problems, and I will add them to my to-do list and will try to fix them when I

[2022-04-04 17:21] twaik commented on #153
Hi guys. I found out that you cloned `android_platform_frameworks_native` repo only to add function `Surface::lockWithHandle` to access protected class member field. but I do not think it is really neccesary. I think you can declare class based on `Surface` and `static_cast`ify existing `Surface` instance to this new class. And [this code](https://github.com/maruos/mflinger/blob/3fe0c3c89f9e93e03c

[2022-04-04 19:47] twaik commented on #153
About `android_platform_frameworks_base` repo.
Major changes:

A few `Android.bp`'s and `SystemServiceRegistry.java` ( + added some `*.aidl` and `*.java` files).
They were changed to build PerspectiveService with system jars and start it as system service. I think we can build them as a part of `vendor_maruos` repo. You can add your service name to [`config_deviceSpecificSystemServices`](https://g

[2022-04-05 01:17] utzcoz commented on #153
@twaik Thanks for those brilliant insights. The MaruOS has a long-term plan to move most of modifications of frameworks/base and frameworks/native to a single system app, and prepare Linux's window combination with Android's native window. I have did some early work on MaruSettings, and I think you have noticed it. IMO, we can remove modifications from frameworks/native and many of frameworks/base

[2022-04-05 07:07] ajvand6 opened #194 "Sargo TWRP Issues"
This is likely not Maru related but posting anyways for guidance.

My 3A previously had ubports installed, I was having trouble flashing TWRP's which I had chalked up as conflict between ubports recovery and TWRP before flashing stock Android 9.0 with the Android Flash Tool.

Same issue persisted when attempting to boot TWRP images, most of which resulted in a hang on booting after sending the TWR

[2022-04-05 07:10] utzcoz commented on #194
@ajvand6 It's recommended to flash official images firstly. It can erase all modifications of uports and TWRP. And then you can follow tutorial to flash TWRP and install maru-0.7 for sargo.

[2022-04-05 07:35] ajvand6 commented on #194
I did actually flash stock with the Android flash tool but the issue relating to twrp booting/installing seems to persist in the same manor as prior to the flash. I can do it again if you can guide me as to how to include logs in the event TWRP fails to boot/flash.

[2022-04-05 07:50] utzcoz commented on #194
@ajvand6 What about flashing latest Android 9 factory image for sargo from https://developers.google.com/android/images?

[2022-04-05 09:21] ajvand6 commented on #194
I flashed the earliest android 9 version, I'll try the latest 9 and confirm my results afterwards.

[2022-04-07 04:54] ajvand6 commented on #194
I believe I've figured it out at this point, I'll highlight what I did in case others run into the same issues as I. Most of which was due to the lack of documentation on the TWRP side.

I have a question, however.

Is TWRP just temporarily flashed as the recovery just to be replaced by the Lineage recovery?

[2022-04-10 02:32] utzcoz commented on #194
@ajvand6 I have encountered similar problem. Looks like there is a option to install TWRP permanent on TWRP when you use it to install update/OTA images. Sorry, I'm not TWRP expert, and I can't provide more information.

[2022-05-09 18:59] twaik commented on #153
@utzcoz what do you think about using Magisk to patch existing system instead of patching AOSP/Lineage?

[2022-05-11 04:29] utzcoz commented on #153
@twaik Thanks for this suggestion. Sorry, I'm not familiar with Magisk, could you explain more about which part that Magisk can patch, and which part not? Thanks.

[2022-05-11 04:32] twaik commented on #153
Patching system classpath can be a bit more complicated so we can try to make Magisk module containing needed changes.

[2022-05-11 08:16] ShadowEO commented on #101
I wanted to give a little nudge as I noticed LOS has implemented `flo` as a new device-type (`flox`) which appears to repartition the eMMC to give `/system` more space. Could it be possible to target this instead of the base flo device?

[2022-05-11 13:28] pdsouza commented on #101
Oh wow, that's interesting! If we can fit the system img on `flo` I'd love to add it back. Also note that we don't have access to `flo` hardware right now unless @TMartinPPC is available, but I'd be open to just doing a build and having someone test it out.

[2022-05-11 14:08] TMartinPPC commented on #101
@pdsouza I still have my Nexus 7. I'll see if I can get a build environment setup.

[2022-09-08 09:55] QGB commented on #130
[code]

[2022-10-06 15:17] twaik commented on #96
@utzcoz I think it can work, but a bit other way. We can use [KVM](https://lwn.net/Articles/836693/). It will consume more resources on device but will work on more devices and it will likely be more stable. There are a lot of instruments that can help to make it work, i.e. `pulseaudio` is accessible from network (we already have ported it to bionic), hardware acceleration using `virtio-gpu-3d`+mo

[2022-10-06 15:19] utzcoz commented on #96
@twaik IMO, we can leverage pKVM from Android 13. It's integrated into AOSP default from Android 13 for security and special case usage.

[2022-10-06 15:23] utzcoz commented on #96
@twaik I think it will be difficult. And I have discussed with @pdsouza to speed up MaruOS' version and release speed to catch up with the official version, and we can try it when we have MaruOS based on Android 13.

[2022-10-06 17:56] twaik commented on #153
It looks like Magisk is unneeded here, we can simply inject some code using [Riru](https://github.com/RikkaApps/Riru/). But it will interfere with current LSPosed implementation.